.partners {
    @include paddings(94px, 94px);
}

.partners__partner-logo {
    fill: currentColor;
}
  
.partners__partners-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    border: 1px solid currentColor;
    border-radius: 4px;
    color: var(--partner-icon);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.partners__partners-link:hover, 
.partners__partners-link:focus {
    color: var(--accent-color);
    outline-color: var(--accent-color);
}

.partners__partners-list {
    @extend %flex-container;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -30px;
    margin-top: -30px;
}
 
.partners__title-partners {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.partners__items {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}
  
@media screen and (min-width: 768px) {
    .partners__items {
      flex-basis: calc(100% / 3 - 30px);
    }
}
  
@media screen and (min-width: 1200px) {
    .partners__items {
      flex-basis: calc(100% / 6 -30px);
    }

    .partners__partners-list {
        flex-wrap: nowrap;
    }

    .partners__title-partners {
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
    }
}