.features {
    padding-top: 60px;
    padding-bottom: 60px;
}

.features__thumb {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    background-color: var(--back-team-color);
    border-radius: 4px;
    margin-bottom: 30px;
}
  

.features__thumb-icon {
        width: 70px;
        height: 70px;
    }

    .features__title-features {
        text-align: center;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    .features__features-dis {
        font-family: var(--main-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--discription-text-color);
    }

    @media screen and (max-width: 767px) {
        .features__title-f:not(:last-child) {
            margin-bottom: 30px;
        }
    }
  
@media screen and (min-width: 768px) {

    .features__features-item {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

    .features__title-f {
      flex-basis: calc(100% / 2 - 30px);
      margin-top: 30px;
      margin-left: 30px;
    }

    .features__title-features {
        text-align: start;
    }
}
  
@media screen and (min-width: 1200px) {
    .features {
        padding-top: 94px;
        padding-bottom: 47px;
    }

    .features__title-f {
      flex-basis: calc(100% / 4 - 30px);
    }
}