body {
    font-family: var(--main-font) ;
    letter-spacing: 0.03em;
    background-color: var(--white-text-back-color);
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul, 
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.address {
    font-style: normal;
}
