:root {
    --main-font: "Roboto" , sans-serif;
    --secondary-font: "Raleway" , sans-serif;
    --logo-color: #000000;
    --accent-color: #2196F3;
    --title-text-color: #212121;
    --discription-text-color: #757575;
    --background-color: #2f303a;
    --white-text-back-color: #ffffff;
    --back-team-color: #f5f4fa;
    --background-second: #E5E5E5;
    --background-btn-hover: #188ce8;
    --partner-icon: #afb1b8;
    --gradient-color: rgba(47, 48, 58, 0.4);
    --shadow-bg: rgba(0, 0, 0, 0.25);
    --portfolio-color: #eeeeee;
}
